.container {
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.inner {
  padding: 20px;
  border-radius: 20px;
  background: #e0e0e0;
  box-shadow: 5px 5px 7px #bababa, -5px -5px 7px #ffffff;
  max-width: 1200px;
  margin: auto;
  display: flex;
}
.inner .image-container {
  width: 60%;
}

.image-container img {
  max-width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.titles-container {
  position: relative;
  margin-bottom: 1.3rem;
}

.btn-back {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.5em;
  margin-top: -1.5rem;
  transition: color 0.3s ease-in;
}

.btn-back:hover {
  color: var(--hover-color);
}

.titles-container h3 {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 0.7em;
}

.titles-container h1 {
  font-size: 2em;
  font-weight: 900;
  color: var(--primary-color);
  margin: 0.7rem 0;
}

.titles-container p {
  color: var(--text-color);
  font-size: small;
}

.titles-container a {
  color: var(--secondary-color);
  font-weight: 700;
  margin-left: 1rem;
  letter-spacing: 0.6px;
  transition: all 0.4s ease;
}

.titles-container a:hover {
  color: var(--hover-color);
}

.inner form {
  width: 40%;
  padding-top: 36px;
  padding-left: 10px;
  padding-right: 45px;
}

.group-name {
  display: flex;
  column-gap: 1rem;
}

.group-name .group {
  padding: 0 2rem;
}

.group-name .group label {
  font-size: 0.9em;
  left: 15%;
  transform: translateY(-50%);
}

.group-name .group :is(input:focus, input:valid) ~ label {
  left: 14%;
}

.group-name .group {
  width: 100%;
}

.error-message {
  color: var(--primary-color);
  font-size: small;
  margin: 0.6rem;
  padding: 0 1.2rem;
}

.error-message .error-icon{
  margin-right: 0.5rem;
}

@media (max-width: 767px) {
  .inner {
    display: block;
  }
  .inner .image-container {
    width: 100%;
  }
  .inner form {
    width: 100%;
    padding: 40px 0 30px;
  }
}
