/* From Uiverse.io by gharsh11032000 */
.radio-button-container {
  display: flex;
  align-items: center;
  gap: 24px;
}

.radio-button {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.radio-button__input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.radio-button__label {
  display: inline-block;
  padding-left: 30px;
  margin-bottom: 10px;
  position: relative;
  font-size: 15px;
  color: var(--text-color);
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.3s ease;
}

.radio-button__custom {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  transition: all 0.3s ease;
}

.radio-button__input:checked + .radio-button__label .radio-button__custom {
  background-color: var(--primary-color);
  border-color: transparent;
  transform: scale(0.8);
  box-shadow: 0 0 20px #f54c4c80;
}

.radio-button__input:checked + .radio-button__label {
  color: var(--primary-color);
}

.radio-button__label:hover .radio-button__custom {
  transform: scale(1.2);
  border-color: var(--primary-color);
  box-shadow: 0 0 20px #f54c4c80;
}
