.shadow-button {
  position: relative;
  overflow: hidden;
  padding: 1rem 2rem;
  border-radius: 1.5rem;
  background: var(--primary-color);
  background-size: 400%;
  color: var(--text-color-secondary);
  border: none;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 1px;
  font-weight: 500;
  transition: all 0.4s ease-out;
}

.shadow-button:hover{
  filter: drop-shadow(0 4px 8px var(--primary-color));
}