/* menu-container {
  text-align: center;
  margin: 20px;
  padding: 0 10%; /* Padding para móviles */

.recuadro {
  width: 100%; /* Ancho completo de la interfaz */
  height: 80px; /* Alto de 20 píxeles */
  background-color: rgb(60, 60, 60); /* Color gris */
  margin-bottom: 20px; /* Espacio abajo del recuadro */
}

.barra-lateral {
  width: 10cm; /* Ancho de la barra lateral */
  height: calc(100% - 80px); /* Alto completo menos el recuadro */
  background-color: rgb(80, 80, 80); /* Color de la barra lateral */
  position: absolute; /* Posicionarla en el contenedor */
  top: 80px; /* Debajo del recuadro */
  left: 0; /* A la izquierda */
}

.menu-imagen {
  width: 50px; /* Ajusta el ancho a 300 píxeles */
  height: auto; /* Mantiene la proporción de la imagen */
  top: 10px; /* Ajusta la posición vertical */
  left: 40px; /* Ajusta la posición horizontal */
  position: absolute;
}

.menu-title {
  color: rgb(255, 255, 255);
  font-size: 2rem; /* Tamaño 5 */
  position: absolute; /* Para posicionar encima del recuadro */
  top: 20px; /* Ajusta la posición vertical según necesites */
  left: 90px; /* Ajusta la posición horizontal según necesites */
}

.btn {
  padding: 10px 20px;
  font-size: 1rem;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative; /* Permite ajustar posición individualmente */
}

.btn.azul {
  background-color: blue;
  color: white;
  top: 100px; /* Ajusta la posición vertical */
  left: 0; /* Ajusta la posición horizontal */
}

.recuadro-desp {
  width: 200px; /* Ajusta el ancho como desees */
  height: 100px; /* Ajusta la altura como desees */
  background-color: rgb(100, 100, 100); /* Color de fondo */
  color: white; /* Color del texto */
  position: absolute; /* Para posicionarlo de forma absoluta */
  top: 2px; /* Debajo del título */
  left: 10cm; /* A la derecha de la barra lateral */
  padding: 10px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
}


.btn.rojo {
  background-color: red;
  color: white;
  top: 100px; /* Ajusta la posición vertical según necesites */
  left: 100px; /* Ajusta la posición horizontal según necesites */
}

.recuadro-1 {
  width: 5cm; /* Ancho de 10 cm */
  height: 7cm; /* Alto de 10 cm */
  background-color: white; /* Fondo blanco */
  color: black; /* Texto negro */
  border: 1px solid black; /* Borde negro */
  padding: 20px; /* Espaciado interno */
  position: absolute; /* Para posicionar */
  top: 80px; /* Debajo del recuadro existente */
  left: 8px; /* A la izquierda */
  margin: 10px; /* Añadir margen alrededor */
  border-radius: 10px; /* Bordes redondeados */
}

/* Contenedor del recuadro donde se encuentran las tablas */
.recuadro-detalle {
  position: absolute; /* Posicionar de forma absoluta */
  top: 80px; /* Mismo top que el recuadro 1 */
  left: 5.7cm; /* A la derecha del recuadro 1 */
  width: calc(110% - 10cm - 20px); /* Ocupa el espacio restante menos márgenes */
  background-color: rgba(200, 200, 200, 0.8); /* Fondo semi-transparente */
  padding: 20px; /* Espaciado interno */
  border: 1px solid black; /* Borde negro */
  margin: 10px; /* Añadir margen alrededor */
  border-radius: 10px; /* Bordes redondeados */
  overflow-y: auto; /* Habilitar desplazamiento vertical si el contenido es grande */
  height: auto; /* El alto se ajustará al contenido */
}

/* Ajustar las tablas dentro de los recuadros */
table {
  width: 100%; /* Ocupa todo el ancho del recuadro */
  border-collapse: collapse; /* Combina bordes de las celdas */
  margin-top: 20px; /* Espacio arriba de la tabla */
}

/* Añadir altura automática para las filas, en función de los registros */
tbody {
  height: auto; /* Ajusta la altura de tbody según el número de filas */
}

/* Estilos para las celdas */
th, td {
  border: 1px solid black; /* Borde de las celdas */
  padding: 10px; /* Espaciado interno de las celdas */
  text-align: left; /* Alinear texto a la izquierda */
}

th {
  background-color: #f2f2f2; /* Fondo para los encabezados */
}

.recuadro-detalle {
  overflow-y: auto; /* Permite desplazamiento cuando sea necesario */
  max-height: 80vh; /* Maxima altura, para no ocupar toda la pantalla */
}

.recuadro-detalle.reactivos {
  background-color: rgb(199, 199, 199); /* Color específico para reactivos */
}



.button-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container button {
  margin: 5px 0;
  width: 150px; /* Ancho fijo para los botones */
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Fondo semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  overflow: auto; /* Permite el desplazamiento si el contenido es más grande que la ventana */
}

/* Ajuste de la imagen */
.image-preview img {
  width: 5cm; /* Ajustamos el ancho de la imagen a 5 cm */
  height: auto; /* Mantiene la proporción original */
  margin-top: 10px;
}


/* Contenido de la ventana modal */
.modal-content {
  background-color: white;
  border-radius: 8px;
  padding: 20px;
  max-width: 90%; /* Máximo 90% del ancho de la pantalla */
  max-height: 80%; /* Máximo 80% del alto de la pantalla */
  overflow-y: auto; /* Permite el desplazamiento vertical si el contenido es muy grande */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.close {
  position: absolute; /* Posición absoluta dentro del modal */
  top: 10px; /* Espacio desde la parte superior */
  right: 10px; /* Espacio desde la derecha */
  cursor: pointer; /* Cambiar cursor al pasar sobre */
  font-size: 24px; /* Tamaño del icono de cerrar */
}

/* Estilo para los botones y otros elementos dentro del modal */
button {
  background-color: #581902;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Estilo para los inputs */
input, select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.alert {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #5f0000; /* Verde */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 9999; /* Asegura que se muestre encima de todo */
  font-size: 16px;
  font-weight: bold;
  transition: opacity 0.5s ease;
}

.alert.hide {
  opacity: 0;
}

/* Estado visible del mensaje de alerta */
.alert.show {
  opacity: 1; /* Lo hace visible cuando tiene la clase "show" */
}

/* Estilo para el mensaje de alerta */
.alert-message {
  background-color: #890303;
  color: white;
  padding: 10px;
  text-align: center;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  z-index: 1000;
}

/* Ocultar el mensaje después de un tiempo */
.alert-message.hide {
  opacity: 0;
  visibility: hidden;
}


.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.close-button {
  position: absolute;
  top: -15px;
  right: 0px;
  font-size: 35px;
  cursor: pointer;
}

.close-button:hover {
  color: red;
}

.top-buttons {
  position: absolute;
  top: 10px;
  right: 20px;
  display: flex;
  gap: 15px;
}

.top-buttons button {
  padding: 10px 20px;
  background-color: #5c0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}


.header-box {
  background-color: #323030; /* Color gris */
  padding: 40px;
  text-align: center;
}


/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .menu-title {
      font-size: 3rem; /* Reducir tamaño en pantallas más pequeñas */
  }

  .btn {
      font-size: 0.9rem; /* Reducir tamaño de fuente de los botones */
      padding: 8px 16px; /* Ajustar padding para móviles */
  }

  .btn.azul, .btn.rojo {
      margin: 5px; /* Reducir márgenes en móviles */
  }
}

@media (max-width: 480px) {
  .menu-title {
      font-size: 2.5rem; /* Aún más pequeño en pantallas muy pequeñas */
  }

  .btn {
      width: 100%; /* Botones ocupan el ancho completo en móviles */
      margin: 5px 0; /* Espaciado vertical entre botones */
  }
}